{
    "singleQuote": true,
    "printWidth": 1000,
    "tabWidth": 2,
    "bracketSpacing": true,
    "jsxBracketSameLine": false,
    "jsxSingleQuote": false,
    "proseWrap": "preserve",
    "semi": false,
    "trailingComma": "none",
    "useTabs": false
  }
  